<footer class="text-[12px] text-primary-lighter p-7.5">
  <p class="flex items-center justify-center divide-x divide-main-border leading-[20px]">
    <span class="px-4"></span>
      &copy;
      2026
      Orbitcode All rights reserved.
    </span>
    <span class="px-4">
      Produced by
      <a href="#" class="font-semibold">Orbitcode</a>.
    </span>
  </p>
</footer>