<!-- 사이드바 PC -->
<nav id="sidebar" class="inset-x-0 top-[60px] w-[240px] h-full px-4 py-10 orb-shadow z-0 text-sm bg-default-bg">
  <a
    class="block w-full flex items-center justify-start gap-2.5 p-2 border border-main-border rounded-lg hover:bg-surface-bg"
    href="#"
    target="_blank">
    <div class="w-[40px] h-[40px] rounded-lg bg-common-black flex items-center justify-center">
      <span class="text-common-white">{{> admin/icons/home}}</span>
    </div>
    <p class="flex flex-col">
      <span class="text-primary-main font-bold">Orbitcode</span>
      <span class="orb-remark">홈페이지로 이동</span>
    </p>
    <p class="ml-auto orb-remark pr-2">→</p>
  </a>

  <!-- 메뉴 -->
  <div class="mt-4 divide-y divide-light-border">
    <div class="py-2">
      <p class="orb-remark p-2">섹션1</p>
      <ul class="flex flex-col gap-2 font-bold">
        <li
          class="rounded-lg font-bold transition-all">
          <a class="flex items-center justify-start p-2" href="#">
            <span class="text-left">아이콘</span>
            <span class="mx-3">아이템</span>
          </a>
        </li>
        <li
          class="rounded-lg font-bold transition-all">
          <a class="flex items-center justify-start p-2" href="#">
            <span class="text-left">아이콘</span>
            <span class="mx-3">아이템</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="mt-4 divide-y divide-light-border">
    <div class="py-2">
      <p class="orb-remark p-2">섹션2</p>
      <ul class="flex flex-col gap-2 font-bold">
        <li
          class="rounded-lg font-bold transition-all">
          <a class="flex items-center justify-start p-2" href="#">
            <span class="text-left">아이콘</span>
            <span class="mx-3">아이템</span>
          </a>
        </li>
        <li
          class="rounded-lg font-bold transition-all">
          <a class="flex items-center justify-start p-2" href="#">
            <span class="text-left">아이콘</span>
            <span class="mx-3">아이템</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>